.wd-body {
    background-color: black;
    margin-left: 16px;
    margin-right: 16px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-paragraph-border {

    border-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

.wd-paragraph-margin {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.wd-font-family {
    font-family: Arial;
}

.wd-full-width {
    width: 100%;
}

.wd-font-bold {
    font-weight: bold;
}

.wd-avatar {
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 50px;
}

.wd-float-right {
    float: right;
}

.wd-flex {
    display: flex;
}

.wd-margin-left-50 {
    margin-left: 60px;
}

.wd-font-lightgray {
    color: lightgray;
}

.wd-twitter-color {
    color: rgb(29 161 242);
}

.btn-primary.wd-override-bs {
    background-color: rgb(29 161 242);
    border-color: rgb(29 161 242);
    /*border-width: 10px;*/
    /*border-radius: 20px;*/
    /*border-style: dashed;*/
    /*font-size: 2em;*/
    font-weight: bolder;
}

.wd-bg-color-search {
    background-color: #eff3f4;
}

.active.wd-override-active {
    border-style: hidden;
    font-weight: bold;

}

.active.wd-override-active {
    border-style: hidden;
    font-weight: bold;

}

.nav-item.wd-override-nav {
    border-color: white;
    border-bottom: 5px solid #1DA1F2;

    /*height: 50px;*/

}