.wd-body {
    background-color: black;
    margin-left: 16px;
    margin-right: 16px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-paragraph-border {

    border-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

.wd-paragraph-margin {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.wd-font-family {
    font-family: Arial;
}

.wd-full-width {
    width: 100%;
}

.wd-font-bold {
    font-weight: bold;
}

.wd-avatar {
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 50px;
}

.wd-float-right{
    float: right;
}

.wd-flex{
    display: flex;
}

.wd-margin-left-50 {
    margin-left: 60px;
}

.wd-font-lightgray{
    color: lightgray;
}